body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom, #0a192f, #4a90e2);
    color: white;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Amasis MT Pro', serif;
}

nav {
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(243, 219, 115);
    font-weight: bold;
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav ul li a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


nav ul li a .logo {
    width: 50px;
    height: auto;
    border: 2px solid #5f5a5a;
    border-radius: 50%;
    padding: 5px;
    transition: transform 0.3s;
}

nav ul li a .logo:hover {
    transform: scale(1.2);
}

.section {
    padding: 20px;
    margin: 20px 0;
    min-height: 100vh;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-out, transform 1s ease-out;
    scroll-margin-top: 70px;

}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

#presentacion {
    padding-top: 100px;

    text-align: center;
}

#presentacion h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: rgb(243, 219, 115);
}

#presentacion h2 {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #b5d3c6;
}

.btn {
    display: inline-block;
    background: #7fb6ed;
    color: rgba(37, 45, 61, 0.725);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background: #0a74da;
    transform: scale(1.05);
}

.imagen-inicio {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-inicio img {
    width: 50%;

    height: auto;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s, opacity 1s ease-out, transform 1s ease-out;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 1;
}

.imagen-inicio img:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.imagen-inicio img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    pointer-events: none;
}

#sobre-mi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#sobre-mi .info {
    max-width: 60%;
    text-align: justify;
}

#sobre-mi .info h2 {
    text-align: left;
    margin-bottom: 20px;
    color: rgb(243, 219, 115);
}

#sobre-mi .info p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #fff;
}

#sobre-mi .imagen {
    max-width: 35%;
    text-align: right;
}

#sobre-mi .imagen img {
    max-width: 100%;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s, opacity 1s ease-out, transform 1s ease-out;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 1;
}

#sobre-mi .imagen img:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#proyectos {
    text-align: center;
}

#proyectos h2 {
    margin-bottom: 30px;
    font-size: 2.5em;
    color: rgb(243, 219, 115);
}

.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.proyecto {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    text-align: center;
}

.proyecto:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.proyecto img {
    width: 100%;
    height: 200px;

    object-fit: cover;

    border-bottom: 2px solid rgb(243, 219, 115);
}

.proyecto p {
    margin: 15px 0;
    font-size: 1.2em;
    color: #9defcd;
}

#contacto {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#contacto h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #272525;
}

.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#contacto p {
    font-size: 1.2em;
    color: #272525;
}

#contacto a {
    text-decoration: none;
    color: #2b2828;
    font-weight: bold;
}

#contacto a img {
    width: 50px;
    transition: transform 0.3s;
    border: 2px solid #2f2e2e;
    border-radius: 50%;
    padding: 5px;
}

#contacto a img:hover {
    transform: scale(1.2);
}